*{
  font-family: Open Sans;
}
.main{
  position: absolute;
  width: 275px;
  height: 620px;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 20px rgba(107, 127, 153, 0.2);
  backdrop-filter: blur(13.5914px);
  border-radius: 0px 35px 35px 0px;
}
#a1:link, #a1:visited, #a1:active, #a1:hover{
  text-decoration: none  !important;
  color:#BB4B29;
}
.loci{
  position: absolute;
  width: 11px;
  height: 15px;
  left: 20px;
  top: 30px;
}
.ltext{
  position: absolute;
  width: 45px;
  height: 14px;
  left: 40px;
  top: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #353030;
}
.lbody{
  position: absolute;
  width: 121px;
  height: 16px;
  left: 40px;
  top: 42px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
.nimg1{
  position: absolute;
  width: 16px;
  height: 14px;
  left: 16px;
  top: 95px;
}
.ntext1{
  position: absolute;
  width: 35px;
  height: 16px;
  left: 40px;
  top: 95px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
.nimg2{
  position: absolute;
  width: 16px;
  height: 17px;
  left: 16px;
  top: 125px;
}
.ntext2{
  position: absolute;
  width: 99px;
  height: 16px;
  left: 40px;
  top: 125px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
.nimg3{
  position: absolute;
  width: 16px;
  height: 21px;
  left: 16px;
  top: 158px;
}
.ntext3{
  position: absolute;
  width: 44px;
  height: 16px;
  left: 40px;
  top: 158px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
.nimg4{
  position: absolute;
  width: 17px;
  height: 17px;
  left: 16px;
  top: 190px;
}
.ntext4{
  position: absolute;
  width: 59px;
  height: 16px;
  left: 40px;
  top: 190px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
.nimg5{
  position: absolute;
  width: 16px;
  height: 16px;
  left: 16px;
  top: 225px;
}
.ntext5{
  position: absolute;
  width: 66px;
  height: 16px;
  left: 40px;
  top: 225px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
.nimg6{
  position: absolute;
  width: 17px;
  height: 20px;
  left: 16px;
  top: 260px;
}
.ntext6{
  position: absolute;
  width: 71px;
  height: 16px;
  left: 41px;
  top: 260px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
.ntext7{
  position: absolute;
  width: 79px;
  height: 16px;
  left: 40px;
  top: 295px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
.ntext8{
  position: absolute;
  width: 83px;
  height: 16px;
  left: 40px;
  top: 330px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
.ntext9{
  position: absolute;
  width: 87px;
  height: 16px;
  left: 40px;
  top: 365px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
.ntext10{
  position: absolute;
  width: 104px;
  height: 16px;
  left: 40px;
  top: 400px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
.ntext11{
  position: absolute;
  width: 39px;
  height: 16px;
  left: 40px;
  top: 435px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
.ntext12{
  position: absolute;
  width: 114px;
  height: 16px;
  left: 40px;
  top: 470px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
.ntext13{
  position: absolute;
  width: 52px;
  height: 16px;
  left: 40px;
  top: 508px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #352732;
}
