/*Login*/
.name {
  width: 200px;
  color: rgba(174,172,172,1);
  position: absolute;
  top: 90px;
  left: 16px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}

.entry1 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 120px;
  left: 16px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.hr1 {
 width: 328px;
 height: 1px;
 background: rgba(215,215,215,1);
 opacity: 1;
 position: absolute;
 top: 150px;
 left: 16px;
 border: 1px solid rgba(150,150,150,1);
}

.text1{
  position: absolute;
  width: 230px;
  height: 16px;
  left: 16px;
  top: 164px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #AEACAC;
}
.text{
  position: absolute;
  width: 143px;
  height: 16px;
  left: 16px;
  top: 270px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #AEACAC;
}
.login1{
  position: absolute;
  width: 70px;
  height: 16px;
  left: 166px;
  top: 270px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #BB4B29;
}
.but3 {
  width: 328px;
  height: 54px;
  background: rgba(187,75,41,1);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 16px;
  border: 1px solid rgba(187,75,41,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.cont {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 220px;
  left: 140px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
